<div style="text-align:center">
  <img src="../../assets/images/logo.png" height="200" width="500"/>
  <h2>Aquí una explicación de lo que es Universal Code</h2>

  <div class="container">
    <div *ngFor="let info of information" class="card info">
      <div class="card-body">
        <h5 class="card-title">{{info.tittle}}</h5>
        <p class="card-text">{{info.desc}}.</p>
      </div>
    </div>
  </div>
</div>

