<div class="card info">

  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img  class="integranteimage" src="{{integrante.image}}">
      </div>
      <div class="col-md-4">
        <h5 class="card-title">{{integrante.name}}</h5>
        <h5 class="card-title">{{integrante.rol}}</h5>
        <h5 class="card-title">{{integrante.tel}}</h5>
        <div *ngFor="let correo of integrante.correos">
          <h5 class="card-text"> {{correo}}</h5>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Tecnologías:</h5>
        <ul>
          <div *ngFor="let tec of integrante.tecnologias">
            <li> {{tec}} </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>


