<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img  class="navbar-image" src="./assets/images/minilogo.png"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive><h3>Inicio</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/integrantes" routerLinkActive><h3>Integrantes</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/valores" routerLinkActive><h3>Valores</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reglamento" routerLinkActive><h3>Reglamento</h3></a>
      </li>
    </ul>
  </div>
</nav>
