<div class="container">
  <div *ngFor="let punto of reglamento" class="card info reglmento">
    <div class="card-body">
      <h5 class="card-title">{{punto.titulo}}</h5>
      <ul>
        <div *ngFor="let subpunto of punto.subPuntos">
          <li><p class="card-title">{{subpunto}}</p></li>
        </div>
      </ul>
    </div>
  </div>
</div>

