<div class="container">
  <div *ngFor="let valor of valores" class="card info">
    <div class="card-body">
      <h5 class="card-title">>{{valor.valor}}</h5>

      <p class="card-title">>{{valor.desc}}</p>
    </div>
  </div>
</div>

